<h3>Welcome to example.com, <%= @passenger.username %></h3>
===============================================
 
<p>You have successfully signed up to example.com,
your username is: <%= @passenger.username %>.
 
To login to the site, just follow this link: <%= @url %>.
 
Thanks for joining and have a great day!
</p>